/**
 * @seite/desktop
 *
 * Copyright, 2016 André König <andre.koenig@gmail.com>
 * All rights reserved
 *
 */

/*
 * @author André König <andre.koenig@gmail.com>
 *
 */

const css = require('../utils/css');

const styles = css(`
	.editor {
		height: 300px;
	}

	.editor__textarea {
		border: none;
		color: #9c27b0;
		height: 100%;
		font-size: 125%;
		line-height: 1.7em;
		margin:0;
		padding: 0;
		/* Some space for the scrollbar */
		padding-right: 30px;
		outline: 0;
		resize: none;
		width: 100%;
		font-weight: 200;
		text-rendering: optimizeLegibility;
		text-shadow: 0px 0px 0px #000;
		-webkit-text-fill-color: transparent;
	}
`);

module.exports = styles;
