/**
 * @seite/desktop
 *
 * Copyright, 2016 André König <andre.koenig@gmail.com>
 * All rights reserved
 *
 */

/*
 * @author André König <andre.koenig@gmail.com>
 *
 */

const css = require('./utils/css');

module.exports = css(`
	html, body {
		background: #fff;
		height: 100%;
		-webkit-user-select: none;
	}

	body {
		font-family: 'Open Sans', sans-serif;
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: 100%;
	}

	#app {
		height: 100%;
	}

	.app {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.app__header {
		-webkit-app-region: drag;
		width: 100%;
	}

	.app__workspace {
		flex: 1;
		padding: 2em;
	}
`);
